######################
# Artifacts
######################
dist
public

######################
# Dev env.
######################
node_modules
.git

######################
# JS files
######################
*.js
